/*** BANNER ***/
.banner_blog {
    width: 100%;
    max-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #0076C1;
    color: #FFFFFF;

    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 40px;
}

.banner_blog_container {
    margin: 20% 15%;
}

.banner_blog h1 {
    font-size: 48px;
}

.banner_blog p {
    font-weight: 300;
    font-size: 18px;
}

/* ============= Conteudo do Blog -> POST ============= */

.blog_content {
    display: flex;
    padding: 2% 6%;
    gap: 3rem;
}



.post_content {
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 800px) {
    .blog_content {
        display: flex;
        flex-direction: column-reverse;
        padding: 2% 6%;
        gap: 3rem;
    }

    .post_content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.image-content img {
    width: 350px;
    height: 250px;
    border-radius: 2px 1px 1px 2px;
}

.meta-info {
    display: flex;
    flex-direction: column;
    font: 400 1rem 'Barlow', sans-serif;
}

.meta-info h2.blog_title {
    font: 700 1.875rem 'Barlow', sans-serif;
    color: #323545;
}

.meta-info span.light_cat a {
    font: 500 1.125rem 'Barlow', sans-serif;
    color: #666666;
    margin-bottom: 1rem;
}

.meta-info p {
    font: 500 1rem 'Barlow', sans-serif;
    color: #141414;
    margin-bottom: 1.8rem;
}

.meta-info a.btn_readmore {
    cursor: pointer;
    font: 600 1rem 'Barlow', sans-serif;
    padding: 0.5rem 1.225rem;
    background-color: #999999;
    color: #323545;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    transition: color 0.5s;
}

.meta-info a.btn_readmore:hover {
    background-color: #666666;
    color: #d4d4d4;
}

/* ============= Conteudo de cada notícia -> POST ============= */

.content_noticia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 421px;
    height: 275px;
}

.content_noticia div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.summary {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;

    color: #141414;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px;
}

.titulo h2 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.titulo span {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.btn_readmore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    width: 100px;
    height: 29px;
    background: #999999;
    border-radius: 5px;
    border: none;
    color: #FAFAFA;

    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.light_cat {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.box-pagination {
    text-align: center;
    font-size: 1.225rem;
    padding: 1rem 0;
    font: 600 1rem 'Roboto Mono', sans-serif;
}

/* =========== ASIDE ============ */

.box_aside {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1.5rem;
}

#inp_field {
    background: url(../images/lupa.png) no-repeat;
    background-position: 95%;
    padding: 0.5rem 0.8rem;
    border-radius: 4px 2px 2px 4px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font: 500 1rem 'Barlow', sans-serif;
}

.sidebar .cat-item a {
    color: #666666;
}

.widget-wrapper {
    text-align: end;
}

.widget-wrapper h2 {
    margin: 10px 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.widget-wrapper ul li {
    margin: 10px 0;
}

.widget-wrapper ul li::after {
    content: '📁';
}