/*** CONTATOS ***/
.welcome_contact {
    width: 100%;
    max-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #0076C1;
    color: #FFFFFF;

    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 40px;
}

.welcome_contact_container {
    margin: 20% 15%;
}

.welcome_contact h1 {
    font-size: 48px;
}

.welcome_contact p {
    font-weight: 300;
    font-size: 18px;
}

/*** JORNADA DO CLIENTE ***/
.customer_journey {
    margin: 3%;
    font-family: 'Roboto';
    font-style: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer_journey h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 178.19%;
    text-align: center;
}

.customer_journey p {
    font-weight: 400;
    font-size: 20px;
    line-height: 178.19%;
    text-align: justify;
}

.customer_journey_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    max-width: 1350px;
}

.journey_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 2%;
}

.journey_nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back_circle {
    background-color: #D9D9D9;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.front_circle {
    background-color: #999999;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.6s ease;
}

.front_circle:hover {
    background-color: #0076C1;
}

.colored_circle {
    background-color: #0076C1;
}

.journey_line {
    background-color: #D9D9D9;
    width: 860px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translate(120px, 30px);
}

.journey_description_1 {
    display: block;
}

#first_circle {
    background-color: #0076C1;
}

.journey_description_2,
.journey_description_3,
.journey_description_4 {
    display: none;
}

@media (max-width: 1200px) {
    .customer_journey_content {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 0px;
    }

    .journey_nav {
        flex-direction: column;
        width: 250px;
    }

    .journey_description {
        max-width: 420px;
    }

    .journey_line {
        width: 20px;
        height: 500px;
        transform: translate(0px, 60px);
    }
}

@media (max-width: 750px) {
    .customer_journey_content {
        flex-direction: column;
    }
}

/*** INFORMAÇÕES DE CONTATO ***/
.contato {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font: 700 2rem 'Roboto';
}

.box_contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.info_contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.custom_infos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font: 400 1rem 'Roboto';
    gap: 10px;
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.endereco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*** FORMULARIO ***/

.formulario {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_contato {
    font: 700 1.5rem 'Roboto';
    font-style: normal;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0.5rem 0.5rem 4rem 0.5rem;
}

.lorem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
}

.lorem label {
    font: 700 1.25rem 'Roboto';
    line-height: 23px;
}

.lorem h3 {
    font: 700 1.25rem 'Roboto';
}

.lorem input.inp-cont {
    width: 90%;
    background: #D9D9D9;
    border-radius: 40px;
    border: 0;
    padding: 0.4rem;
    outline: none;
}

.lorem .input-form label {
    font: 400 1rem 'Roboto';
    font-style: normal;
    line-height: 23px;
}

.botao {
    margin-top: 10px;
    width: 110px;
    height: 38px;
    border: none;

    background: #D9D9D9;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.6s ease;
}

.botao:hover {
    color: white;
    background-color: #0076C1;
}

.lorem select  {
    border-radius: 30px;
    padding: 0.5rem 0.8rem;
    border-style: none;
    background: #D9D9D9;
    cursor: pointer;
    font: 500 1rem 'Roboto',sans-serif;
}


@media (max-width: 900px) {
    .contato {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box_contato {
        align-items: center;
    }

    .inside_mapa {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom_infos {
        align-self: center;
    }
}


/* ======== Contato multiple selection */

/* .multiselect {
    width: 350px;
} */

.selectBox {
    cursor: pointer;
    display: flex;
    position: relative;
}

.selectBox select {
    width: 100%;
    font: 500 1rem 'Roboto',sans-serif;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    /* position: absolute; */
    display: none;
    flex-direction: column;
    border: 1px #dadada solid;
    background-color: #D9D9D9;
    padding: 0.6rem 0.8rem;
    border-radius: 1.25rem;
    gap: 0.5rem;
}

#checkboxes label {
    display: flex;
    gap: 0.5rem;
    font: 500 1rem 'Roboto',sans-serif;
    padding: 0.1rem 0.3rem;
}

#checkboxes label:hover {
    background-color: #767676;
    border-radius: 0.1rem;
}