/* INÍCIO: HEADER */
/* Display do grupo */
header .header-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    /* width: 100vw; */
}

/* Tamanho Logo */
header .h-logo {
    width: 30vw;
}

/* Tamanho Menu */
header .h-menu {
    width: 65vw;
    display: flex;
    justify-content: center;

}

/* Tamanho Menu Hamburguer  */
.h-menu-burguer {
    width: 65vw;
    display: none;

}

.h-menu-burguer-bars {
    display: none;
}

.h-menu-burguer-bars a i {
    color: #111111;

}

.h-menu-burguer-area {
    display: none;
}

@media only screen and (max-width: 700px) {
    header .h-menu {
        width: 65vw;
        display: none;
    }

    .h-menu-burguer {
        margin: 4% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h-menu-burguer-bars {
        display: flex;
        padding-right: 5%;
    }


    /* Menu Burguer */
    .h-menu-burguer .menu-header-container ul {
        display: flex;
        flex-direction: column;
        font: 400 1.25rem 'Inter', sans-serif;
    }

    .h-menu-burguer .menu-header-container ul li {
        margin: 4% 0;
    }

    /* Menu: links */
    .h-menu-burguer .menu-header-container ul li a {
        text-decoration: none;
        color: #333652;


    }

    /*Animação para o Menu Nav*/
    .h-menu-burguer .menu-header-container ul li a {
        transition: color 0.2s;
        position: relative;
    }

    .h-menu-burguer .menu-header-container ul li a:hover,
    .h-menu-burguer .menu-header-container ul li a.active {
        color: #333652;
    }

    .h-menu-burguer .menu-header-container ul li a::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #333652;

        position: absolute;
        left: 0;
        bottom: -0.3rem;

        transition: width 0.2s;
    }

    .h-menu-burguer .menu-header-container ul li a:hover::after,
    .h-menu-burguer .menu-header-container ul li a.active::after {
        width: 100%;
    }

}

/*Tamanho Botão Translate*/
header .h-translate {
    width: 5vw;
}

/* Tamanho logo */
header .h-logo .custom-logo-link img {
    display: flex;
    width: 60%;
    height: 10%;
    min-width: 170px;
}

/* Menu */
header .h-menu .menu-header-container ul {
    display: flex;
    gap: 2.225rem;

    font: 400 1.25rem 'Inter', sans-serif;
}

/* Menu: links */
header .h-menu .menu-header-container ul li a {
    text-decoration: none;
    color: #333652;

}

/* Botão Tradução*/
.wglanguage-name {
    display: none;
}

#weglot-language-pt, #weglot-language-en {
    text-decoration: none;
    font: 400 1.125rem 'Inter', sans-serif;
}

#weglot-language-pt:hover, #weglot-language-en:hover {
    text-decoration: none;
    color: #333652;
}

/* Animação da linha no link */
#weglot-language-pt, #weglot-language-en {
    transition: color 0.2s;
    padding: 0;

    position: relative;
}

#weglot-language-pt:hover, #weglot-language-en:hover,
#weglot-language-pt.active, #weglot-language-en.active {
    color: #333652;
}

#weglot-language-pt::after, #weglot-language-en::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #333652;

    position: absolute;
    left: 0;
    bottom: -0.5rem;

    transition: width 0.2s;
}

#weglot-language-pt:hover::after, #weglot-language-en:hover::after,
#weglot-language-pt.active::after, #weglot-language-en.active::after {
    width: 100%;
}

/*Animação para o Menu Nav*/
header .h-menu .menu-header-container ul li a {
    transition: color 0.2s;
    position: relative;
}

header .h-menu .menu-header-container ul li a:hover,
header .h-menu .menu-header-container ul li a.active {
    color: #333652;
}

header .h-menu .menu-header-container ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #333652;

    position: absolute;
    left: 0;
    bottom: -0.5rem;

    transition: width 0.2s;
}

header .h-menu .menu-header-container ul li a:hover::after,
header .h-menu .menu-header-container ul li a.active::after {
    width: 100%;
}



/* FIM: HEADER */

/* INÍCIO: FOOTER */
footer .footer-group {
    display: flex;
    flex-direction: column;
    background-color: #333652;
    color: #E6E8F4;

    padding: 1rem 5rem;
    gap: 3.75rem;
}

.footer-group .group-top {
    display: flex;
    justify-content: space-between;
}

.popular-posts, .recent-posts, .links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.popular-title, .recent-title, .links-title {
    font: 700 1.5rem 'Barlow', sans-serif;
}

.popular-body, .recent-body, .links-body {
    font: 500 1.115rem 'Barlow', sans-serif;

}

.popular-body p a, .recent-body p a, .links-body p a {
    color: #E6E8F4;
}

.links .menu-footer-container ul, .popular-body, .recent-body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.links .menu-footer-container ul li a {
    color: #E6E8F4;
}

.group-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    /* 6.5rem */
}

.logo-cnpj {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    font: 500 1rem 'Barlow', sans-serif;
}

.title-logo {
    font: 700 3rem 'Barlow', sans-serif;
}

.cnpj-num {
    text-align: center;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font: 400 1rem 'Roboto', sans-serif;
}

.inp-mail {
    width: 15rem;
    line-height: 2rem;
    padding: 0 0.5rem;
}

.accept-term {
    font-size: 0.8rem;
}

.btn-cadastro {
    max-width: 6.5rem;
    padding: 0.3rem 0.5rem;
    background-color: #999999;
    color: white;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
}

.btn-cadastro:hover {
    background-color: #9999aa;
    color: #eeeeee;
}

.address-social {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font: 600 1rem 'Barlow', sans-serif;
}

.address-custom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address-fone {
    text-align: center;
}

.icons-social {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.icon {
    color: white;
    font-size: 2.5rem;
}

.f-copyright {
    background-color: #111111;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    height: 45px;

    /*Configuraçoes de font*/
    font: 500 1rem 'Barlow', sans-serif
}



/* FIM: FOOTER */

/* INÍCIO TODAS AS PÁGINAS: Trecho para colar o footer na base */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* FIM TODAS AS PÁGINAS: Trecho para colar o footer na base */

/* @MEDIA ==> less than width:800px */

@media (max-width: 800px) {
    .group-top, .group-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }

    .group-bottom {
        align-self: center;
    }

    .logo-cnpj, form.newsletter-form, .address-social {
        width: 100%;
        align-items: center;
    }
}

/*INÍCIO: POP RESPOSTA EMAIL*/

.popup-alert-response {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 99;

    padding-top: 50px;
}

.popup-msgstatus {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d4edda;
    border: 1px;
    border-radius: 5px;
    height: 50px;
    width: 60%;
    color: #155724;

    font-family: 'Barlow', sans-serif;
}

/*WHATSAPP ICON*/
.whatsapp {
    background-color: #47c756;
    border-radius: 100%;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 1;
}

.whatsapp img {
    width: 50px;
    height: 50px;
}

.whatsapp:hover {
    background-color: #098b1a;
    transition: 0.6s ease;
}