html {
    scroll-behavior: smooth;
}

/*** POP UP NEWSLETTER ***/
.popup_newsletter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2rem;
}

.popup_retangle_newsletter {
    z-index: 3;
    width: 1000px;
    height: 700px;
    background-color: #fafafa;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.left_div {
    width: 60%;
    height: 100%;
    border-top: 700px solid #0076C1;
    border-right: 100px solid transparent; 
}

.right_div {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px;
}

.popup_newsletter_close {
    z-index: 3;
    position: fixed;
    top: 2px;
    right: 4px;
    align-self: flex-end;
    border: 10px solid #FAFAFA;
    background-color: #FAFAFA;
    font-size: 1.5rem;
}

.popup_newsletter_close:hover {
    background-color: #dddddd;
    border: 10px solid #dddddd;
    border-radius: 10px;
}

.popup_newsletter form {
    margin-top: 15%;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.popup_newsletter label {
    font-size: 1.125rem;
    line-height: 1.3rem;
}

.popup_newsletter input {
    width: 360px;
    height: 50px;
    border: none;
    background: #E1E1E1;
    padding: 10px;
    border-radius: 2px 4px 4px 2px;
}

.popup_newsletter input:focus {
    outline: none;
}

#register {
    width: 50%;
    align-self: flex-end;
    margin-top: 5%;
}

#register:hover {
    background: #919191;
}

@media (max-width: 1100px) {
    .popup_retangle_newsletter {
        width: 750px;
        height: 525px;
    }
    .left_div {
        width: 55%;
        height: 100%;
        border-top: 525px solid #0076C1;
        border-right: 100px solid transparent; 
    }
}
@media (max-width: 800px) {
    .popup_retangle_newsletter {
        width: 70vw;
        max-height: 60vh;
    }
    .left_div {
        display: none;
    }
    .right_div {
        width: 100%;
        padding: 20px;
    }
    .popup_newsletter input {
        width: 50vw;
        height: 50px;
    }
}

html {
    scroll-behavior: smooth;
}

/*** SEJA BEM VINDO ***/

.welcome {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #0076C1;
    color: #FFFFFF;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.welcome_container {
    margin: 7% 15%;
}

.welcome h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 2rem;
    margin-bottom: 20px;
}

.welcome button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #111111;
    background-color: #fefefe;
    cursor: pointer;
    border: 0px;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 0.6s ease;
}

.welcome button:hover {
    background-color: #111111;
    color: #fefefe;
}

.arrow_down {
    border: solid #fefefe;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 15px;
    transform: rotate(45deg);
}

/*** SERVIÇOS ***/

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3%;
    font-family: 'Inter', sans-serif;
}

.services h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 58px;
}

.services_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;

    max-width: 1350px;
    align-self: center;
}

.line {
    width: 4px;
    height: 580px;
    background-color: #111111;
    margin: 0% 3%;
}

.services_pf,
.services_pj {
    width: 85%;
}

.services_cards_col1,
.services_cards_col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}

.services_cards_col2 {
    flex-flow: row wrap;
}

.services_card {
    width: 275px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 2%;
}

.services_circle {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 100%;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: 0.6s ease;
}

.services_circle:hover {
    width: 160px;
    height: 160px;
}

.services p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
}

@media (max-width: 1360px) {
    .line {
        display: none;
    }

    .services_container {
        flex-direction: column;
    }

    .services_cards_col1 {
        margin-bottom: 10%;
        flex-direction: row;
    }
}

@media (max-width: 750px) {
    .services_cards_col2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_cards_col1 {
        flex-direction: column;
    }
}

/*** POPUP SERVIÇO ***/

.popup {
    display: none;
    font-family: 'Inter', sans-serif;
}

.smoke {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
}

.popup_retangle {
    z-index: 3;
    width: 60vw;
    min-width: 420px;
    background-color: #D9D9D9;
    border-radius: 30px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px 50px;
}

.popup_close {
    z-index: 3;
    position: fixed;
    top: 0;
    align-self: flex-end;
    border: 10px solid #D9D9D9;
    background-color: #D9D9D9;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup_circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #FFFFFF;
}

.popup_retangle h2 {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 20px;
}

.popup_retangle p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: justify;
    margin: 20px 0px;
}

.popup_btn {
    background-color: #111111;
    color: #fefefe;
    transition: 0.6s ease;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: 0px;
    border-radius: 40px;
    padding: 15px 60px;
    cursor: pointer;
}

.popup_btn:hover {
    background-color: #fefefe;
    color: #111111;
}   

/*** RESULTADOS ***/

.results {
    padding-top: 2rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.title_results {
    font: 600 3rem 'Inter', sans-serif;
    color: #141414;
}

.group_results {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    gap: 3rem;
}

@media (max-width: 1200px) {
    .group_results {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

.results_card {
    width: 255px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle_results {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

.animated_text {
    font: 700 4rem 'Roboto';
}

.text_results {
    font: 500 1.5rem 'Roboto';
}

/*** CASES DE SUCESSO ***/

section.cases-sucess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2% 10%;
    text-align: center;
}

section.cases-sucess h2 {
    font: 600 3rem 'Inter', sans-serif;
    color: #141414;
}

section.cases-sucess .slideshow-container .mySlides {
    align-items: center;
    width: 100%;
    padding: 0 5%;
    font: 400 1.225rem 'Inter', sans-serif;
}

section.cases-sucess .mySlideContent {
    width: 100%;
    padding: 0 15px;
    text-align: justify;
}

.mySlides .perfil_client {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.mySlides .perfil_client img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section.supporter .mySlidesSup {
    /* display: flex; */
    justify-content: center;
    padding: 0 8%;
    font: 400 1.225rem 'Inter', sans-serif;
}

/*** APOIADORES ***/

section.supporter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2% 6%;
    background-color: #ebebeb;
}

section.supporter h2 {
    font: 600 3rem 'Inter', sans-serif;
    color: #141414;
}