/*** QUEM SOMOS ***/
.welcome_who {
    width: 100%;
    max-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #0076C1;
    color: #FFFFFF;

    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 40px;
}

.welcome_who_container {
    margin: 20% 15%;
}

.welcome_who h1 {
    font-size: 48px;
}

.welcome_who p {
    font-weight: 300;
    font-size: 18px;
}

/*** MAIN ***/

.box_quem_somos{
    font-family: 'Roboto';
    font-style: normal;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_quem_somos_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    max-width: 1350px;
}

.box_quem_somos h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}

.box_quem_somos p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
}

.box_quem_somos img {
    width: 580px;
    height: 370px;
    background: #F0F0F0;
}

@media (max-width: 1100px) {
    .box_quem_somos_container {
        flex-direction: column;
    }
    .box_quem_somos div {
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    .box_quem_somos img {
        width: 290px;
        height: 185px;
    }
}

/*** ASIDE 1 ***/

.quem_somos_aside1{
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 5%;
}

.quem_somos_aside1 div {
    display: flex;
    align-items: center;
    gap: 5%;
    max-width: 700px;
}

.quem_somos_aside1 img{
    width: 250px;
    height: 250px;
    background: #E0E0E0;
}

.quem_somos_aside1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
}

@media (max-width: 1200px) {
    .quem_somos_aside1 {
        flex-direction: column;
    }
    .quem_somos_aside1 div {
       margin: 10px;
    }
}
@media (max-width: 650px) {
    .quem_somos_aside1 div {
        flex-direction: column;
    }
    .quem_somos_aside1 img {
        width: 150px;
        height: 150px;
    }
}


/*** VALORES ***/
.quem_somos_values {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    margin: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.quem_somos_values img {
    width: 100px;
    height: 100px;
}

.quem_somos_values h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 178.19%;
}

.quem_somos_values p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.quem_somos_container {
    display: flex;
    gap: 5%;
    max-width: 1350px;
}

.quem_somos_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {
    .quem_somos_container {
        flex-direction: column;
    }
    .quem_somos_container div {
        margin-bottom: 20px;
    }
}

/*** ASIDE 2 ***/
.quem_somos_aside2 {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 5%;
}

.quem_somos_aside2_container {
    max-width: 1350px;
    display: flex;
    gap: 5%;
}

.quem_somos_aside2 h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}

.quem_somos_aside2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
}

.quem_somos_aside2_container div {
    width: 50%;
}

.quem_somos_aside2 img {
    width: 580px;
    height: 370px;
    background: #F0F0F0;
}

@media (max-width: 1000px) {
    .quem_somos_aside2_container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .quem_somos_aside2 div {
        width: 100%;
        margin-bottom: 20px;
    }
    .quem_somos_aside2 img {
        width: 387px;
        height: 247px;
    }
}

@media (max-width: 450px) {
    .quem_somos_aside2 img {
        width: 270px;
        height: 185px;
    }
}