/* Slideshow container Sup*/
.slideshow-container-sup {
    /* max-width: 350px; */
    /* widk=th: 80%; */
    /* position: relative; */
    /* margin: auto; */
    /* align-items: center; */

    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideshow-container-supporter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slides-container-supporter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slides-container {
    display: flex;
    padding: auto;
}

.slides-supporter {
    margin: 0 5.5rem;

}

.slides-supporter img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* Next & previous buttons */
.prevSup, .nextSup {
    /* cursor: pointer;
    position: absolute;
    top: 50%;*/
    width: auto;
    padding: 16px;

    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 4px 0 0 4px;
    user-select: none;
}

/* Position the "next button" to the right */
.nextSup {
    right: 0;
    border-radius: 0 4px 4px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prevSup:hover, .nextSup:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fefefe;
}

/* Caption text */
/* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) 
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

*/

/* The dots/bullets/indicators */
.dotSup {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {

        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prevSup, .nextSup, .text {
        font-size: 11px
    }
}

.mySlidesSupContainer {
    display: flex;
    width: 80vw;
    justify-content: center;
}